<!DOCTYPE html>
<html lang="en">
  <%- include('partials/Head') %>
<body>
                  <%- include('partials/Script') %>
                  <%- include('partials/Navbar') %>
                  <h1>Home,welcome to Home</h1>                                
</body>
</html>